<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVChargerFinder!</title>
</head>
<body>
    <h1>Search a city</h1>
    <form id="search-by-city">
        <label for="search-city">Enter a city</label>
        <input type="text" id="search-city">
        <button type="submit" id="search-city-btn">Search</button>
    </form>
    {{!-- <a href="/partials/login"></a> --}}

    
    
    <script src="/js/search.js"></script>
</body>
</html>